@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* .btn-primary {
      @apply py-1.5 px-3 text-center bg-blue-700 rounded-md text-white;
  } */
}


@layer utilities {
    .neo-shadow {
        box-shadow: 5px 5px 10px #d1d9e6, -5px -5px 10px #ffffff;
    }

    .dark .neo-shadow {
        box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #2c2c2c;
    }

    .neo-inset {
        box-shadow: inset 5px 5px 10px #d1d9e6, inset -5px -5px 10px #ffffff;
    }

    .dark .neo-inset {
        box-shadow: inset 5px 5px 10px #1a1a1a, inset -5px -5px 10px #2c2c2c;
    }

    .neo-button {
        transition: all 0.2s ease-in-out;
    }

    .neo-button:hover {
        box-shadow: inset 3px 3px 6px #d1d9e6, inset -3px -3px 6px #ffffff;
    }

    .dark .neo-button:hover {
        box-shadow: inset 3px 3px 6px #1a1a1a, inset -3px -3px 6px #2c2c2c;
    }

    .neo-button:active {
        box-shadow: inset 5px 5px 10px #d1d9e6, inset -5px -5px 10px #ffffff;
    }

    .dark .neo-button:active {
        box-shadow: inset 5px 5px 10px #1a1a1a, inset -5px -5px 10px #2c2c2c;
    }
}
